<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="chat.css">
</head>
<body>
    <div class="app">
        <ul id="messages">
            <li v-for="msg,i of messages" :key="i">{{msg}}</li>
        </ul>
        <form id="form" @submit.prevent="submit()">
            <input id="input" autocomplete="off" v-model="message"/><button>Send</button>
        </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="chat.js"></script>
</body>
</html>